
version: '3.8'

services:
  
  mysql-db:
    
    image: mysql:8.0
    container_name: mysql-db
    
    volumes:
      - mysql-data:/var/lib/mysql
    
    environment:
      - MYSQL_ROOT_PASSWORD=rootpassword
      - MYSQL_DATABASE=eventstream_db
      - MYSQL_USER=user
      - MYSQL_PASSWORD=password
    ports:
      
      - "3307:3306"
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-u", "root", "-p$$MYSQL_ROOT_PASSWORD"]
      interval: 10s
      timeout: 5s
      retries: 5

  
  app-service:
    container_name: app-service
    
    build: .
    ports:
      
      - "8080:8080"
    
    environment:
      
      - SPRING_DATASOURCE_URL=jdbc:mysql://mysql-db:3306/eventstream_db?useSSL=false&allowPublicKeyRetrieval=true
      - SPRING_DATASOURCE_USERNAME=user
      - SPRING_DATASOURCE_PASSWORD=password
      
      - SPRING_JPA_HIBERNATE_DDL_AUTO=update
      - SPRING_JPA_DATABASE_PLATFORM=org.hibernate.dialect.MySQLDialect
    
    depends_on:
      mysql-db:
        condition: service_healthy


volumes:
  mysql-data:
